@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Staatliches';
  src: local('Staatliches'), url(./fonts/Staatliches-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'BebasNeue';
  src: local('BebasNeue'), url(./fonts/BebasNeue-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Oswald';
  src: local('Oswald'), url(./fonts/Oswald-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: 'Imbue';
  src: local('Imbue'), url(./fonts/Imbue-VariableFont_opsz_wght.ttf) format('truetype');
}

* {
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none;
}

body, html {
  font-family: Roboto, serif;
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
