#itemsContainer {
    text-align: center;
    padding-top: 90px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr);
}
#itemsContainer::-webkit-scrollbar {
    display: none;
}
.emptyContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media (min-width: 550px) {
    .textContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-evenly;
    }
    #itemsContainer {
        padding-top: 100px;
        grid-template-columns: 1fr;
    }
}
@media (min-width: 730px) {
    #itemsContainer {
        padding-top: 150px;
    }
}
@media (min-width: 830px) {
    #itemsContainer {
        padding-top: 180px;
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 1300px) {
    #itemsContainer {
        padding-top: 180px;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 1650px) {
    #itemsContainer {
        padding-top: 180px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
.itemContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    margin-bottom: 5px;
}
.text {
    position: absolute;
    margin-bottom: 70%;
    font-weight: bold;
    width: 80%;
}
.price {
    position: absolute;
    margin-top: 77%;
    font-weight: bold;
    width: 80%;
}
.emptyText {
    font-size: 50px;
    /*font-family: 'Staatliches';*/
    font-family: 'BebasNeue';
    /*font-family: 'Oswald';*/
    /*font-family: 'Imbue';*/
    color: #29235c;
}